/*!
Modifications to Stylish theme

*/

::selection{
	background: rgba(51,122,183,0.75);
	color: #FFF;
}

.bg-primary *::selection{
	background: rgba(255,255,255,0.75);
	color: rgb(51,122,183);
}

/* Components */

.descriptions {
	/*background: #C7A000;*/
	color: #FFF;
	/*margin-bottom: -9999px;
	padding-bottom: 9999px;*/
}

.descriptions > div > h4{
	font-weight: 700;
}

.descriptions > div > hr{
	border: 0;
	height: 1px;
	margin-top: 30px;
    	 background-image: linear-gradient(to right, rgba(51, 122, 183, 0.5), rgba(51, 122, 183, 1), rgba(51, 122, 183, 0.5));
}
/* Animations */

.collapsing {
	transition: height 0.6s;
}

/* Images */

.header{
	background: url(../img/DeathtoStock_Wired7.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	
}

.img-border{
	border: 3px solid #000;
}
#
/* Navigation */

.navbar-nav > li{
	font-size:  1.25em;
	font-weight: 400
}

.navbar-nav > li > a > i{
	padding-right: 10px;
}

.navbar-nav a:hover{
	color: #1AAB4F;
}

.navbar-nav li.active a:hover{
    #337AB7;
}

ul.list-unstyled > li > a,
ul.list-unstyled > li > a > i {
    color: #FFF;
}

ul.list-unstyled > li > a:hover {
    text-decoration: underline;
}

/* Colors */

.bg-green {
	background-color: #1AAB4F
}

.sidebar-nav > li > a > i,
.text-green{
	color: #1AAB4F
}

.sidebar-nav > li > a > i{
	color: #1AAB4F;
}
