*.sublime-*
LICENSE
README.boot

old/
old/*

# Only include thumbnails for the portfolio section
images/*
!images/*_thumbnail.png

# Ignore directory listing script used on localhost
portfolio/index.php
portfolio/resources/
portfolio/resources/*

