@import url('https://fonts.googleapis.com/css?family=Raleway:500|Courgette');
html{
  font-size: 12pt;
}

@media only screen and (min-width: 601px) {
  .full-height{
    min-height: calc(100vh - 64px);
  }
}

.full-height{
  min-height: 100vh;
}


/* Navigation styling */
nav{
  padding-left: 2rem;
  padding-right: 2rem;
}
nav .active,
nav a:hover{
  border-color:  #b9f6ca!important;
}

nav a{
  color: #b9f6ca!important
}

nav .brand-logo{
  font-family: 'Courgette'
}

/* NAVIGATION ON MOBILE */
.mobile-navigation{
  visibility: hidden;
  height: 60px;
  width: 100vw;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
  background: #cfd8dc;
  color: #01579b;
  z-index: 999;
  font-size: 16px;
  padding: 0;
}

.mobile-navigation ul{
  overflow: hidden !important;
  list-style: none;
  margin: 0 auto;
  color: #01579b;
  padding: 0;
}

.mobile-navigation ul li{
  position: relative;
  overflow: hidden;
  float: left;
  display: block;
  width: 20vw;
  height: 60px;
  padding: 13px 0;
  margin: 0;
  text-align: center;
}

.mobile-navigation ul li i{
  vertical-align: middle;
  color: #01579b;
}

@media only screen and (max-width: 600px) {
  div.navbar-fixed{
    visibility: hidden
  }

  /* HIDE LINK-STYLE navigation */

  div.navbar-fixed > nav > .nav-wrapper{
    visibility: hidden;
  }

  /* Display ICON menu */

  div.mobile-navigation
  {
    visibility: visible;
  }
}


section > div{
  margin: 0 auto;
}

p{
  text-align: justify;
}

/* SVG LOGO */

header{
  width: 100%;
  vertical-align: middle;
}
header > svg {
  display:block;
  margin: auto;
}

header > div{
  margin: auto;

}

/* ANIMATION */

@-moz-keyframes rotate {
  0% { -moz-transform: scale(0) rotateZ(0deg); }
	60% { -moz-transform: scale(1.25) rotateZ(108deg); }
  100% { -moz-transform: scale(1) rotateZ(360deg); }
}
@-webkit-keyframes rotate {
  0% { -webkit-transform: scale(0) rotateZ(0deg); }
	60% { -webkit-transform: scale(1.25) rotateZ(108deg); }
  100% { -webkit-transform: scale(1) rotateZ(360deg); }
}
@keyframes rotate {
  0% { -webkit-transform: scale(0) rotateZ(0deg); transform: scale(0) rotateZ(0deg);}
  60% { -webkit-transform: scale(1.25) rotateZ(108deg); transform: scale(1.25) rotateZ(108deg);}
  100% { -webkit-transform: scale(1) rotateZ(360deg); transform: scale(1) rotateZ(360deg); }
}

.rotate{
  -webkit-animation:rotate 4s ease-in-out 1;
  -moz-animation: rotate 4s ease-in-out 1;
  animation: rotate 4s ease-in-out 1;
}

.rotate path{
	stroke: #607D8B!important;
}
/* Remove gutter below rows */

section.row{
  margin-bottom: 0;
}

/* Color of sections */

section.row:nth-of-type(2n+1){
  background: #cfd8dc
}


/* Styling LINKS */

a {
  color: #dd2c00
}

a:hover{
  color: #08D;
}

a[target] {
  padding-right: 13pt;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="%23dd2c00" stroke-width="10" d="m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z"/></svg>') no-repeat right top;
  background-size:  10pt 10pt;
}

a[target]:hover{
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><path fill="transparent" stroke="%230088dd" stroke-width="10" d="m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z"/></svg>') no-repeat right top;
	background-size:  10pt 10pt;
}

/* SMALL text for headers */

h3 > small{
  font-size: 50%;
  color: #dd2c00;
}

/* TEXT ELEMENTS */

blockquote{
  border-color: #dd2c00;
}


abbr{
  color: #311b92
}

/* LIST OF LINKS */

.collection-item{
  border: none!important
}

/* PORTFOLIO IMAGES */

.portfolio > img {
	max-width: 100%
}