@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700|Raleway');

/* BASIC RESET */
html, body, * {
  font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BASIC STYLING */


html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #B1BFC9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* NO NEED FOR RESTRICTING SELECTOR SINCE BEST PRACTICES ALLOW ONLY 1 header tag */

header {
	width: 100%;
	min-height: 20vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* RESTRICT WIDTH ON BIG SCREENS */

article {
	width: 75%;
}

/* STYLING BUTTONS */

/* BUTTON HEIGHT */

button.accordion-title {
	min-height: 7vh;
	background-color: #48687C;
	color: #DEF0FC;
	border: 1px solid #DEF0FC;
	cursor: pointer;
	font-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1.25rem);
	background-size: 1.25rem 1.25rem;
}




button.accordion-title.active{
	background-image: url('data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20width=%2228%22%20height=%2228%22%20viewBox=%220%200%2028%2028%22%3E%3Cpath%20d=%22M26.297%2020.797l-2.594%202.578c-0.391%200.391-1.016%200.391-1.406%200l-8.297-8.297-8.297%208.297c-0.391%200.391-1.016%200.391-1.406%200l-2.594-2.578c-0.391-0.391-0.391-1.031%200-1.422l11.594-11.578c0.391-0.391%201.016-0.391%201.406%200l11.594%2011.578c0.391%200.391%200.391%201.031%200%201.422z%22%20style=%22fill:%20%2348687C%22%3E%3C/path%3E%3C/svg%3E');
}

.accordion-title:not(.active) {
	background-image: url('data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20width=%2228%22%20height=%2228%22%20viewBox=%220%200%2028%2028%22%3E%3Cpath%20d=%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%20style=%22fill:%20%23DEF0FC%22%3E%3C/path%3E%3C/svg%3E');
}

.accordion-title:not(.active):hover {
	background-image: url('data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20width=%2228%22%20height=%2228%22%20viewBox=%220%200%2028%2028%22%3E%3Cpath%20d=%22M26.297%2012.625l-11.594%2011.578c-0.391%200.391-1.016%200.391-1.406%200l-11.594-11.578c-0.391-0.391-0.391-1.031%200-1.422l2.594-2.578c0.391-0.391%201.016-0.391%201.406%200l8.297%208.297%208.297-8.297c0.391-0.391%201.016-0.391%201.406%200l2.594%202.578c0.391%200.391%200.391%201.031%200%201.422z%22%20style=%22fill:%20%2348687C%22%3E%3C/path%3E%3C/svg%3E');
}

.accordion-title:not(.active):hover,
.accordion-title:focus,
button.active  {
	outline: none;
	background-color: #DEF0FC;
	color: #48687C;
}

/* CONTENT ON FULL WIDTH FOR TABLETS AND BELOW */

@media only screen and (max-width: 800px) {
	article {
		width: 100%;
	}

	header {
		height: 10vh;
	}

	button.accordion-title {
		min-height: 5vh;
		text-align: left;
		margin: 1rem 0;
		background-size: 1.20rem 1.20rem;
		background-position: calc( 100% - 1rem );
	}
}

/* Styling */

h1, h2, h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
	text-align: center;
  color: #48687C;
}

h2.subheader {
	color: #DEF0FC
}

/* TEXT ALIGNMENT */

p {
	text-align: justify;
	margin: 1rem;
}

/* FLOAT IMAGES */

img.float {
	margin: 1rem 1rem;
	width: 33%;
}

section:nth-of-type(odd) img.float {
	float: left;
}

section:nth-of-type(even) img.float {
	float: right;
}

/* Style final quote */

blockquote {
	width: 50%;
	margin: 0 auto;
}
blockquote::before {
	content: '\201C';
	font-size: 3rem;
}

blockquote > footer {
	text-align: right;
}

/* Style list of links */

ul.no-bullet {
	float: left;
	list-style: none;
	margin: 1rem 5rem;
}

@media only screen and (max-width: 800px)  {
	ul.no-bullet {
		margin: 1rem 1rem;
	}
}

ul.no-bullet li {
	margin: 0.5rem 0;
}

ul.no-bullet li a {
	font-weight: 700;
	color: #48687C;
	text-decoration: none;
}

ul.no-bullet li a:hover {
	color: #1a237e;
}